.edit-user {
  width: 400px;
  margin: 0 auto; }
  @media (max-width: 640px) {
    .edit-user {
      width: 100%; } }

.edit-user-upload {
  position: relative;
  float: left;
  width: 80px;
  height: 80px;
  border: 1px solid #B3B3AB;
  margin-bottom: 20px;
  margin-top: 6px;
  cursor: pointer; }
  @media (max-width: 640px) {
    .edit-user-upload {
      float: none;
      margin: 0 auto 20px; } }
  .edit-user-upload::after {
    content: '';
    clear: both;
    display: table-cell; }
  .edit-user-upload label {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .edit-user-upload img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    max-width: 95%;
    border-radius: 50%;
    pointer-events: none; }
  .edit-user-upload .ui-button {
    display: none; }

.users-edit-form-tab-header-counter {
  padding-right: 0.9em !important; }

.users-edit-form-tab-header {
  position: relative; }

.users-edit-form-counter {
  position: absolute;
  right: 7px;
  width: 2em;
  height: 2em;
  box-sizing: initial;
  border-radius: 50%;
  font-size: 0.71rem;
  line-height: 2em;
  text-align: center;
  color: #FFF;
  background: #5A88C3; }

.edit-user-upload-hint {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 3px;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  text-align: center;
  color: #1E1E1E;
  pointer-events: none;
  cursor: pointer; }

.edit-user-input-wrapper {
  margin-bottom: 20px; }
  .edit-user-input-wrapper label {
    color: #1E1E1E; }

.edit-user-input-wrapper-right {
  float: right;
  width: 75%; }
  @media (max-width: 640px) {
    .edit-user-input-wrapper-right {
      float: none;
      width: 100%; } }

.edit-user-input-wrapper-clear {
  clear: both; }

.edit-user-label {
  display: inline-block;
  margin-bottom: 10px; }
  .edit-user-label sup {
    color: #D9534F; }

.edit-user-tip {
  margin-top: 5px;
  color: #B3B3AB;
  font-size: 0.8rem; }
