@import "global-styles/common.scss";

.edit-user {
    width: 400px;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: 100%;
    }
}

.edit-user-upload {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid $grayShade;
    margin-bottom: 20px;
    margin-top: 6px;
    cursor: pointer;

    @media (max-width: 640px) {
        float: none;
        margin: 0 auto 20px;
    }

    &::after {
        content: '';
        clear: both;
        display: table-cell;
    }

    label {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        max-width: 95%;
        border-radius: 50%;
        pointer-events: none;
    }

    .ui-button {
        display: none;
    }
}

.users-edit-form-tab-header-counter {
    padding-right: 0.9em !important;
}

.users-edit-form-tab-header {
    position: relative;
}

.users-edit-form-counter {
    position: absolute;
    right: 7px;
    width: 2em;
    height: 2em;
    box-sizing: initial;
    border-radius: 50%;
    font-size: 0.71rem;
    line-height: 2em;
    text-align: center;
    color: $white;
    background: $primary;
}

.edit-user-upload-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 3px;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    text-align: center;
    color: $blackShade;
    pointer-events: none;
    cursor: pointer;
}

.edit-user-input-wrapper {
    margin-bottom: 20px;

    label {
        color: $blackShade;
    }
}

.edit-user-input-wrapper-right {
    float: right;
    width: 75%;

    @media (max-width: 640px) {
        float: none;
        width: 100%;
    }
}

.edit-user-input-wrapper-clear {
    clear: both;
}

.edit-user-label {
    display: inline-block;
    margin-bottom: 10px;

    sup {
        color: $error;
    }
}

.edit-user-tip {
    margin-top: 5px;
    color: $grayShade;
    font-size: 0.8rem;
}
