@import "global-styles/common.scss";

body {
    font-size: 14px;
    font-family: $fonts;

    .ui-widget-content {
        color: $blackShade;
    }

    .ui-widget-header {
        color: $blackShade;
    }

    .ui-inputtext {
        color: $blackShade;
    }

    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        background: $primary;
    }

    .ui-widget-header .ui-button:enabled:hover,
    .ui-widget-header .ui-button:focus,
    .ui-widget-content .ui-button:enabled:hover,
    .ui-widget-content .ui-button:focus,
    .ui-widget.ui-button:enabled:hover,
    .ui-widget.ui-button:focus,
    .ui-button:enabled:hover,
    .ui-button:focus {
        background: rgba($primary, 0.8);
    }

    .ui-widget-header .ui-button:enabled:hover,
    .ui-widget-header .ui-button:focus,
    .ui-widget-content .ui-button:enabled:hover,
    .ui-widget-content .ui-button:focus,
    .ui-widget.ui-button:enabled:hover,
    .ui-widget.ui-button:focus,
    .ui-button:enabled:hover,
    .ui-button:focus {
        border: 1px solid $primary;
    }

    .ui-button.ui-button-danger:enabled:hover,
    .ui-button.ui-button-danger:focus,
    .ui-splitbutton.ui-button-danger .ui-button:enabled:hover,
    .ui-splitbutton.ui-button-danger .ui-button:focus {
        background-color: $error;
        border-color: $error;
    }

    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        border: 1px solid $primary;
    }

    .ui-menu,
    .ui-menu .ui-menu-child {
        background: linear-gradient(to bottom, $white 0%, $whiteShade 100%);
    }

    .ui-menu .ui-menuitem .ui-menuitem-link:hover {
        background-color: $grayShade;
    }

    .ui-menu .ui-menuitem .ui-menuitem-link {
        color: $blackShade;
    }

    .ui-widget-header {
        background: linear-gradient(to bottom, $white 0%, $whiteShade 100%);
        border: 1px solid $grayShade;
    }

    .ui-datatable th.ui-state-default {
        background-color: rgba($whiteShade, 0.4);
        color: $blackShade;
    }

    .ui-datatable th.ui-sortable-column:not(.ui-state-active):hover {
        background-color: $whiteShade;
    }

    .ui-datatable th.ui-state-active {
        background-color: rgba($primary, 0.9);
        color: $white;
    }

    .ui-datatable tbody > tr.ui-widget-content {
        border-color: $grayShade;
    }

    .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
        background-color: rgba($whiteShade, 0.7);
    }

    .ui-paginator a {
        color: $blackShade;
    }

    .ui-paginator .ui-paginator-page.ui-state-active {
        background-color: $primaryDarker;
        border-color: $primaryDarker;
    }

    .ui-state-default {
        border: 1px solid $grayShade;
        color: $blackShade;
    }

    .ui-state-error {
        border-color: $error;
    }

    .ui-state-highlight {
        background: $primary;
        border: 0;
    }

    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        border: 1px solid $primary;
    }

    .ui-helper-reset {
        margin: 0;
        padding: 0;
        border: 0;
    }

    .hidden {
        display: none;
    }
}

.modal-root {
    font-size: 1.5rem;
}

.app,
.modal-root {
    .ui-widget-content a {
        color: $primary;
    }

    .ui-dialog .ui-dialog-titlebar-icon {
        color: $blackShade;
    }

    .ui-sidebar .ui-sidebar-close {
        color: $grayShade;

        &:hover {
            color: $blackShade;
        }
    }
}
