body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

    .ui-widget-content {
        color: #1E1E1E;
    }

    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        background: #5A88C3;
    }

    .ui-widget-header .ui-button:enabled:hover,
    .ui-widget-header .ui-button:focus,
    .ui-widget-content .ui-button:enabled:hover,
    .ui-widget-content .ui-button:focus,
    .ui-widget.ui-button:enabled:hover,
    .ui-widget.ui-button:focus,
    .ui-button:enabled:hover,
    .ui-button:focus {
        background: rgba(#5A88C3, 0.8);
    }

    .ui-widget-header .ui-button:enabled:hover,
    .ui-widget-header .ui-button:focus,
    .ui-widget-content .ui-button:enabled:hover,
    .ui-widget-content .ui-button:focus,
    .ui-widget.ui-button:enabled:hover,
    .ui-widget.ui-button:focus,
    .ui-button:enabled:hover,
    .ui-button:focus {
        border: 1px solid #5A88C3;
    }

    .ui-button.ui-button-danger:enabled:hover,
    .ui-button.ui-button-danger:focus,
    .ui-splitbutton.ui-button-danger .ui-button:enabled:hover,
    .ui-splitbutton.ui-button-danger .ui-button:focus {
        background-color: #d43f3a;
        border-color: #d9534f;
    }

    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        border: 1px solid #5A88C3;
    }

    .ui-menu,
    .ui-menu .ui-menu-child {
        background: linear-gradient(to bottom, #FFF 0%, #F5F5F3 100%);
    }

    .ui-menu .ui-menuitem .ui-menuitem-link:hover {
        background-color: #B3B3AB;
    }

    .ui-menu .ui-menuitem .ui-menuitem-link {
        color: #1E1E1E;
    }

    .ui-widget-header {
        background: linear-gradient(to bottom, #FFF 0%, #F5F5F3 100%);
    }

    .ui-datatable th.ui-state-default {
        background-color: rgba(#F5F5F3, 0.4);
        color: #1E1E1E;
    }

    .ui-datatable th.ui-sortable-column:not(.ui-state-active):hover {
        background-color: #F5F5F3;
    }

    .ui-datatable th.ui-state-active {
        background-color: rgba(#5A88C3, 0.9);
        color: #FFF;
    }

    .ui-datatable tbody > tr.ui-widget-content.ui-datatable-odd {
        background-color: rgba(#F5F5F3, 0.7);
    }

    .ui-paginator a {
        color: #1E1E1E;
    }

    .ui-paginator .ui-paginator-page.ui-state-active {
        background-color: #263D5C;
    }

    .ui-state-default {
        border: 1px solid #B3B3AB;
    }

    .ui-state-error {
        border-color: #F44336;
    }

    .ui-state-highlight {
        background: #5A88C3;
        border: 0;
    }

    .ui-widget-header .ui-button,
    .ui-widget-content .ui-button,
    .ui-widget.ui-button,
    .ui-button {
        border: 1px solid #5A88C3;
    }

    .hidden {
        display: none;
    }
}

.modal-root {
    font-size: 1.5rem;
}

.app,
.modal-root {
    .ui-widget-content a {
        color: #5A88C3;
    }

    .ui-dialog .ui-dialog-titlebar-icon {
        color: #1E1E1E;
    }

    .ui-sidebar .ui-sidebar-close {
        color: #B3B3AB;

        &:hover {
            color: #1E1E1E;
        }
    }
}
