@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h2>
                Welcome to Insite2 Identity Server
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @if (!string.IsNullOrEmpty(name))
            {
                <p>
                    You are logged in as @name (<a asp-controller="Account" asp-action="Logout">Logout</a>)
                </p>
            }
            else
            {
                <p>
                    Click <a asp-controller="Account" asp-action="Login">here</a> to log in.
                </p>
            }
            <p><a asp-controller="Account" asp-action="Register">Register</a></p>
            <p><a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a></p>
            <p><a asp-controller="Account" asp-action="SendEmailConfirmationLink">Confirm Email</a></p>
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
    </div>
</div>
