.article {
    margin-bottom: 15px;
}

.article-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-tag {
    color: #B3B3AB;
}

.article-bottom {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid rgba(#B3B3AB, 0.7);
}

.article-title {
    margin: 0;
    font-size: 1rem;
    color: rgba(#1E1E1E, 0.6);
}

.article-text {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.article-link {
    display: inline-block;
    font-size: 1rem;
    color: #5A88C3 !important;
    border-bottom: 1px dotted #5A88C3;
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
    }
}

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background: #5A88C3;
    border-radius: 5px;
    color: #FFF;

    &.enhancement {
        background: #edc02f;
    }
}

.tag-icon {
    margin-right: 5px;
}

.tag-text {
    font-size: 1rem;
}