@import "global-styles/common.scss";

.article {
    margin-bottom: 15px;
}

.article-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-bottom {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-left: 1px solid rgba($grayShade, 0.7);
}

.article-title {
    margin: 0;
    font-size: 1rem;
    color: rgba($blackShade, 0.6);
}

.article-date {
    font-size: 1rem;
    color: $grayShade;
}

.article-text {
    font-size: 1rem;
    color: $blackShade;
}

.article-link {
    display: inline-block;
    font-size: 1rem;
    color: $primary;
    border-bottom: 1px dotted $primary;
    text-decoration: none;

    &:hover {
        border-bottom-color: transparent;
    }
}

