.article {
  margin-bottom: 15px; }

.article-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.article-bottom {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-left: 1px solid rgba(179, 179, 171, 0.7); }

.article-title {
  margin: 0;
  font-size: 1rem;
  color: rgba(30, 30, 30, 0.6); }

.article-date {
  font-size: 1rem;
  color: #B3B3AB; }

.article-text {
  font-size: 1rem;
  color: #1E1E1E; }

.article-link {
  display: inline-block;
  font-size: 1rem;
  color: #5A88C3;
  border-bottom: 1px dotted #5A88C3;
  text-decoration: none; }
  .article-link:hover {
    border-bottom-color: transparent; }
