@import "global-styles/common.scss";

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @media(max-width: 640px) {
        flex-direction: column;
        margin-bottom: 20px;
    }

    h2 {
        color: $grayShade;
        font-size: 1rem;
        font-weight: 500;

        span {
            font-size: 1.2rem;
            color: rgba($blackShade, 0.7);
        }
    }

    .p-button {
        margin-left: 10px;
    }
}