.select {
  color: #1E1E1E;
  background: #F5F5F3;
  margin-bottom: 10px; }
  .select .ui-multiselect-panel .ui-multiselect-close {
    color: #1E1E1E; }
  .select .ui-widget-content {
    color: #1E1E1E;
    background: #FFF; }
