@import "global-styles/common.scss";

.select {
    color: $blackShade;
    background: $whiteShade;
    margin-bottom: 10px;

    .ui-multiselect-panel .ui-multiselect-close {
        color: $blackShade;
    }

    .ui-widget-content {
        color: $blackShade;
        background: $white;
    }
}