
@{
    ViewData["Title"] = "ConfirmEmailSent";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="logo">
            <img src="~/logo.png" />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Confirm email
                </h3>
            </div>
            <div class="panel-body">
                <p class="message-success">Email confirmed successfully. You can go back to <a asp-action="Login">login</a>.</p>
            </div>
        </div>
    </div>
</div>
