
@{
    ViewData["Title"] = "Registered";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="logo">
            <img src="~/logo.png" />
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Registration
                </h3>
            </div>
            <div class="panel-body">
                <p class="message-success">Registration completed successfully and confirmation email has been sent. Please check you email.</p>
            </div>
        </div>
    </div>
</div>