@import "global-styles/common.scss";

.grid-item {
    padding: 1rem !important;
    border-right: 1px solid rgba($blackShade, 0.2);

    @media(max-width: 640px) {
        margin-bottom: 20px;
        border-right: 0;
        border-bottom: 1px solid rgba($blackShade, 0.2);
        box-shadow: 0 1px 15px 1px rgba(81,77,92,.08);
    }

    &:last-child {
        border-right: 0;
    }
}

.grid-item-title {
    color: $blackShade;
    font-size: 1.5rem;
    font-family: $fonts;
    padding-bottom: 1rem;
    margin: 0;
}