.roles-list {
  padding: 20px 5px 5px;
  box-shadow: 0 1px 15px 1px rgba(81, 77, 92, 0.1);
  border-radius: 3px; }

.roles-table {
  background: #FFF;
  padding: 20px;
  box-sizing: border-box; }

.roles-table-header {
  margin-bottom: 40px; }

.roles-table-select {
  margin-bottom: 10px; }

.roles-actions-cell {
  width: 90px; }
  @media (max-width: 640px) {
    .roles-actions-cell .ui-column-title {
      display: none !important; } }
