@import "global-styles/common.scss";

.root-content-wrapper {
    width: 100%;
    max-width: 1340px;
    padding: 190px 1rem 0;
    box-sizing: border-box;
    margin: 0 auto;

    @media(max-width: 1025px) {
        padding-top: 70px;
    }
}