.filters-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: fex-start;
    border-bottom: 1px solid #B3B3AB;

    @media(max-width: 640px) {
        position: relative;
    }
}

.search-query-wrapper {
    padding-bottom: 10px;

    > div > .condition {
        padding-left: 0;
    }

    .condition {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 0;
        box-shadow: none;

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .rule {
        box-shadow: none;
        flex-wrap: wrap;
        align-items: stretch;

        @media (max-width: 640px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .querySelect {
        margin-right: 10px;
        height: 26px;
        border-bottom: 1px solid #F5F5F3;
        color: #1E1E1E;

        @media (max-width: 640px) {
            margin-bottom: 10px;
            border-bottom-color: #B3B3AB;
        }

        &:focus {
            background-color: #F5F5F3;
        }
    }

    .ui-inputtext {
        height: 100%;
        box-sizing: border-box;
    }

    .ui-button {
        @media (max-width: 640px) {
            margin-bottom: 10px;
        }
    }

    .ui-button-danger {
        @media (max-width: 640px) {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}

.search-query-title {
    font-size: 1rem;
    color: #1E1E1E;
}

.filters {
    flex-basis: 80%;
}

.filters-search-button-wrapper {
    @media(max-width: 640px) {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.filters-dropdown {
    margin-right: 0.25em;

    .ui-dropdown-panel,
    .ui-dropdown-items-wrapper {
        margin-left: 0;
    }
}
