@import "global-styles/common.scss";

.post {
    display: inline-block;

    .ui-widget-content {
        border: 0 !important;
    }

    .ui-card-body {
        padding: 0 !important;
    }
}

.content {
    max-width: 300px;
    font-family: $fonts;
}