.post {
  display: inline-block; }
  .post .ui-widget-content {
    border: 0 !important; }
  .post .ui-card-body {
    padding: 0 !important; }

.content {
  max-width: 300px;
  font-family: "Roboto", sans-serif; }
