$primary: #5A88C3;
$primaryDarker: #263D5C;
$complementary: #EDC02F;
$error: #D9534F;
$success: #5CB85C;
$blackShade: #1E1E1E;
$whiteShade: #F5F5F3;
$grayShade: #B3B3AB;
$black: #000;
$white: #FFF;

$fonts: 'Roboto', sans-serif;
