.users-list-cell-value span {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; }

.users-actions-cell {
  width: 105px; }
  @media (max-width: 640px) {
    .users-actions-cell .ui-column-title {
      display: none !important; } }

.users-tag-cell {
  text-align: center; }
  @media (max-width: 640px) {
    .users-tag-cell .ui-column-title {
      min-width: 101px !important; } }
