@import "global-styles/common.scss";

.users-list-cell-value {
    span {
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.users-actions-cell {
    width: 90px;

    .ui-column-title {
        @media(max-width: 640px) {
            display: none !important;
        }
    }
}

.users-tag-cell {
    text-align: center;

    .ui-column-title {
        @media(max-width: 640px) {
            min-width: 101px !important;
        }
    }
}
