@import "global-styles/common.scss";

.calendar {
    .ui-chkbox-box.ui-state-active,
    .ui-radiobutton-box.ui-state-active {
        background: $primaryDarker;
    }

    .ui-state-highlight {
        background: $primary;
    }

    .ui-datepicker-header {
        background: rgba($whiteShade, 0.6);
    }

    .ui-datepicker .ui-datepicker-prev {
        color: $blackShade;
    }

    .ui-datepicker .ui-datepicker-next {
        color: $blackShade;
    }

    .ui-inputtext {
      background: $white;
      color: $blackShade;
    }

    .ui-widget-content {
        background: $whiteShade;
        color: $blackShade;
    }

    .ui-datepicker.ui-widget .ui-datepicker-calendar td a {
        background: $white;
        color: $blackShade;
    }

    .ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
        background: rgba($primary, 0.2);
        color: $blackShade;
    }
}