.calendar .ui-chkbox-box.ui-state-active,
.calendar .ui-radiobutton-box.ui-state-active {
  background: #263D5C; }

.calendar .ui-state-highlight {
  background: #5A88C3; }

.calendar .ui-datepicker-header {
  background: rgba(245, 245, 243, 0.6); }

.calendar .ui-datepicker .ui-datepicker-prev {
  color: #1E1E1E; }

.calendar .ui-datepicker .ui-datepicker-next {
  color: #1E1E1E; }

.calendar .ui-inputtext {
  background: #FFF;
  color: #1E1E1E; }

.calendar .ui-widget-content {
  background: #F5F5F3;
  color: #1E1E1E; }

.calendar .ui-datepicker.ui-widget .ui-datepicker-calendar td a {
  background: #FFF;
  color: #1E1E1E; }

.calendar .ui-datepicker.ui-widget .ui-datepicker-calendar thead th {
  background: rgba(90, 136, 195, 0.2);
  color: #1E1E1E; }
