@import "global-styles/common.scss";

.profile-form {
    width: 400px;
    margin: 0 auto;

    @media (max-width: 640px) {
        width: 100%;
    }
}

.profile-form-personal {
    display: flex;

    @media (max-width: 640px) {
        flex-direction: column;
    }
}
  
.profile-form-name {
    flex: 75%;
    width: 100%;


}

.profile-form-upload {
    flex: 25%;
    position: relative;
  
    margin-bottom: 20px;
    margin-top: 6px;
    cursor: pointer;
    margin-right: 30px;

    @media (max-width: 640px) {
        width: 100%;
        margin-bottom: 135px;
        display: flex;
        justify-content: center;
    }

    label {
        position: absolute;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    img {
        border: 1px solid $grayShade;
        width: 78px;
        height: 78px;
        border-radius: 50%;
        pointer-events: none;
        margin-bottom: 10px;
    }

    .ui-button {
      display: none;
    }
}

.profile-form-upload-hint {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    padding: 3px;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    text-align: center;
    color: $blackShade;
    pointer-events: none;
    cursor: pointer;
}

.profile-form-input-wrapper {
    margin-bottom: 20px;
}

.profile-form-label {
    display: inline-block;
    margin-bottom: 10px;

    sup {
        color: $error;
    }
}

.profile-form-tip {
    margin-top: 5px;
    color: $grayShade;
    font-size: 0.8rem;
}
