.sidebar-close-button {
    position: absolute;
    right: 0px;
    top: 20px;
    border: none;
    background: none;
    color: rgba(#B3B3AB, 0.8);
    cursor: pointer;
}

.ui-sidebar-close {
    display: none !important;
}