@import "global-styles/common.scss";

.tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 5px;
    color: $white;

    &.announcement {
        background: $primary;
    }

    &.enhancement {
        background: $complementary;
    }
}

.tag-icon {
    margin-right: 8px;
    font-size: 1rem;
}

.tag-text {
    font-size: 1rem;
}
