@import "global-styles/common.scss";

.tenant-list {
    .ui-dialog .ui-dialog-content {
        overflow: visible;
    }
}

.tenant-actions-cell {
    width: 90px;

    .ui-column-title {
        @media(max-width: 640px) {
            display: none !important;
        }
    }
}