@import "global-styles/common.scss";

.confirm-tag {
    display: inline-block;
    padding: 0.25em;
    background: $primary;
    color: $white;
    border-radius: 3px;

    &.inactive {
        background: $error;
    }
}