@import "global-styles/common.scss";

.confirm-tag {
    display: inline-block;
    width: 30px;
    padding: 0.25em 0;
    background: $success;
    color: $white;
    border-radius: 3px;
    text-align: center;

    &.inactive {
        background: $error;
    }
}