@import "global-styles/common.scss";

.notification-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: $primary;
}

.notifications {
    position: relative;

    @media (max-width: 640px) {
        position: static;
    }
}

.notifications-animation-wrapper {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translate(-50%, 0);

    @media (max-width: 640px) {
        left: 5vw;
        transform: none;
    }
}

.notifications-popup {
    width: 400px;
    padding: 20px;
    box-sizing: border-box;
    min-height: 400px;
    background: $white;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(81,77,92,.2);

    @media (max-width: 640px) {
        width: 90vw;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        height: 0;
        width: 0;
        border: solid transparent;
        pointer-events: none;
        border-color: rgba($white, 0);
        border-bottom-color: $white;
        border-width: 10px;
        margin-left: -10px;

        @media (max-width: 640px) {
            display: none;
        }
    }
}

.notifications-popup-header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($grayShade, 0.5);
    text-align: center;
}

.notifications-popup-header-title {
    margin-bottom: 10px;
    font-size: 1.3rem;
    color: $blackShade;
}

.notifications-popup-header-subtitle {
    font-size: 1rem;
    color: $grayShade;
}