@import "global-styles/common.scss";

.checkbox-wrapper {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-label {
    font-size: 1em;
    color: $grayShade;
    cursor: pointer;
}