@import "global-styles/common.scss";

.checkbox-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-label {
    font-size: 1em;
    color: $grayShade;
    cursor: pointer;
    margin-left: 10px;
}

body {
    .ui-chkbox-box.ui-state-active,
    .ui-radiobutton-box.ui-state-active {
        background: $primary;
        border-color: $primary;
    }
}
