.grid-item {
    padding: 1rem !important;
    border-right: 1px solid rgba(#1E1E1E, 0.2);

    @media(max-width: 640px) {
        margin-bottom: 20px;
        border-right: 0;
        border-bottom: 1px solid rgba(#1E1E1E, 0.2);
    }

    &:last-child {
        border-right: 0;
    }
}